<form {{action "submit" on="submit"}} >
    <div class="form-group">
      {{input type="text" class="form-control" placeholder="Title" value=text}}
      </div>
    <div class="form-group">
      <a {{action 'cancel'}} class="btn btn-default">Cancel</a>
      <btn {{action 'submit'}} class="btn btn-primary">Save</btn>
    </div>
</form>
