body, html {
  font-family: 'Open Sans', sans-serif;
  background-color: #F8F8F8;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  border-radius: 0px;
  background-image: none;
  background-color: #000;
  color: #FFF;
}

.navbar-default .navbar-toggle {
  border-color: #666;
}

.navbar-default .navbar-brand {
  color: #FFF;
  text-shadow: none;
  font-weight: 300;
}

.navbar-default .navbar-brand .brand-title {
  font-weight: 400;
  color: #ccc;
}

.navbar-default .navbar-brand span {
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  text-shadow: none;
  color: #CCC;
  font-weight: 400;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #999;
  font-weight: 400;
}

.navbar-default .navbar-nav > li > a.active {
  font-weight: 600;
  color: #FFF;
}

#trelloContainer {
  position: relative;
  width: 100%;
}

.subnav {
  position: relative;
  border-bottom: solid 1px rgb(210, 209, 209);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  overflow: hidden;
}

.board-title {
  position: relative;
  float: left;
  width: 60%;
}

.subnav h1 {
  margin: 0px;
  font-weight: 300;
}

.subnav h1 span {
  font-weight: 400;
}
